<div id="<%= dom_id(message) %>_messages">
  <% if message.user? %>
    <div class="bg-gray-200 m-2 mx-20 text-black p-2">
      <%= render partial: "messages/message_content", locals: { content: message.content } %>
      <%= render partial: "messages/attachment", collection: message.attachments %>
    </div>
  <% else %>
    <div class="bg-gray-300 m-2 mx-20 p-2">
      <%= render partial: "messages/message_content", locals: { content: message.content } %>
      <%= render partial: "messages/attachment", collection: message.attachments %>
    </div>
  <% end %>
</div>