<!DOCTYPE html>
<html>
  <head>
    <title>Granny</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="mx-auto">
      <% if notice %>
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Notice!</strong>
          <span class="block sm:inline"><%= notice %></span>
        </div>
      <% end %>

      <% if alert %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Alert!</strong>
          <span class="block sm:inline"><%= alert %></span>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
